.row {
    display: flex;
    align-items: center;
}

.row > div:nth-child(3) {
    margin-left: auto;
}

.header-image-container {
    padding-right: 20px;
}
.header-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.pull-right {
    margin-left: auto;
}

.fill {
    flex: 1;
}

ul {
    list-style-position: outside;
}

.post ul {
    margin-left: 1em;
}

ul.flat svg {
    max-height: 17px;
    margin-top: 15px;
}

.header nav {
    margin-top: 35px;
}
