{{- $description := "" -}}
{{- if .Description -}}
  {{- $description = .Description -}}
{{- else if .Summary -}}
  {{- $summary := partial "strip-toc.html" .Summary -}}
  {{- $description = $summary | truncate 200 -}}
{{- else -}}
  {{- $description = .Site.Params.description | default "" -}}
{{- end -}}

{{- $images := .Params.images | default .Site.Params.images -}}
{{- with $images }}
<meta name="twitter:card" content="summary_large_image">
  {{- with index . 0 }}
  <meta name="twitter:image" content="{{ . | absURL }}">
  {{- end }}
{{- else }}
<meta name="twitter:card" content="summary">
{{- end }}
{{- with .Title }}
  <meta name="twitter:title" content="{{ . }}">
{{- end }}
{{- with $description }}
  <meta name="twitter:description" content="{{ . }}">
{{- end }}
