name: Preview

on:
  pull_request_target:
    types: [opened, synchronize, reopened]

jobs:
  preview:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true
        ref: refs/pull/${{ github.event.pull_request.number }}/merge

    - name: Prepare
      run: sed -i 's/googleAnalytics.*//g' config.toml && sed -i 's/baseURL.*/baseURL = \"https://gunnarmorling-morling-dev-preview-pr-$(jq --raw-output .pull_request.number "$GITHUB_EVENT_PATH").surge.sh/\"/g' config.toml

    - name: Build
      run: docker run --rm -v $PWD:/src quay.io/gunnarmorling/hugo-builder bash -c "cd /src && /hugo/hugo -F"

    - name: Preview
      uses: afc163/surge-preview@v1
      id: preview_step
      with:
        surge_token: ${{ secrets.SURGE_TOKEN }}
        github_token: ${{ secrets.GITHUB_TOKEN }}
        dist: public
        failOnError: 'true'
        build: |
          echo Deploying to surge.sh

    - name: Get the preview_url
      run: echo "url => ${{ steps.preview_step.outputs.preview_url }}"
